<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="scripts/jquery-ui.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Courgette|Lobster+Two|Righteous' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/jquery-ui.css">
  <link rel="stylesheet" href="styles/jquery-ui.theme.css">
  <link rel="stylesheet" href="styles/style.css">
  <script type="text/javascript" src="scripts/app.js"></script>

</head>
<body>

<%=yield%> 



</body>
</html>
