<link href='https://fonts.googleapis.com/css?family=Courgette|Lobster+Two|Righteous|Material+Icons  ' rel='stylesheet' type='text/css'>

<style>
body {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  background-image: url('http://i.imgur.com/5ngwe6C.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1.2em;
}


</style>

<div align = "center">
  <img src = "https://i.ytimg.com/vi/yshHuJlVRos/hqdefault.jpg" style="width: 40%"/>
  <h2 class = "404header"> 404: Dude? Where's this page? </h2>
</div>
