<div class="other-view-holder" id="primary_results">
<h3 class="other-views-header"> exact liscence plate match: </h3>
  <div align = "center">
  <p class="primary-results-message">
    <p> <span>Good news!</span> We <span> found </span> a car with # <%=@user_car.plate%>, get it here: </p>
    <p><span> <%=@plate_match_car.towed_to_address%></span> call them at <span><%=@plate_match_car.tow_facility_phone%><span> or <span> Get Google Map Directions!</span>
</div>
