<div class="other-view-holder" id="plate-search-results">
<h3 class="other-views-header"> exact liscence plate match: </h3>
  <div align = "center">

  <div class="primary-results-message">
    <% if @plate_match_car %>
    <table>
    <tr><td>
    <div align="center">
    <p class="plaintext">Good news! We found a car with <span class="big">#<%=@user_car['plate']%></span>, get it here: </p>
    <p class="address"><i class="material-icons">pin_drop</i><%=@plate_match_car['towed_to_address']%></p>
    <p><span><i class="material-icons">local_phone</i><%=@plate_match_car['tow_facility_phone']%></span></p>
    </div>
    </td><td>
        <%if @plate_match_car['towed_to_address'] == '10300 S. Doty'%>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47661.34999353584!2d-87.60958735912415!3d41.702511048970244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e26503f071295%3A0xc8565ac27e503872!2s10300+S+Doty+Ave%2C+Chicago%2C+IL+60617!5e0!3m2!1sen!2sus!4v1449703934643" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        <%elsif @plate_match_car['towed_to_address'] == '400 E. Lower Wacker'%>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.24763792779!2d-87.6196687845586!3d41.88753107922146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2b57b35b9deb%3A0x685b36316d36f2df!2s400+E+Lower+Wacker+Dr%2C+Chicago%2C+IL+60601!5e0!3m2!1sen!2sus!4v1449704121093" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        <%elsif @plate_match_car['towed_to_address'] == 'Chicago O\'hare International Airport remote lot E.'%>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.9970652984407!2d-87.90510188560161!3d41.978872779214306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fb4287036ab05%3A0xb8c1d83964eb7f0a!2sMain+Garage!5e0!3m2!1sen!2sus!4v1449708977418" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        <%elsif @plate_match_car['towed_to_address'] == '701 N. Sacramento'%>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.962396917024!2d-87.70371218560571!3d41.89366577922094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e32ab99ebedcd%3A0xecad569f4e025611!2s701+N+Sacramento+Ave%2C+Chicago%2C+IL+60622!5e0!3m2!1sen!2sus!4v1449710590325" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        <%elsif @plate_match_car['towed_to_address'] == 'Police Pound'%>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11880.62026277386!2d-87.69807582901241!3d41.889522117537304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xabcd2843015b0006!2sChicago+Auto+Pound!5e0!3m2!1sen!2sus!4v1449711727895" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        <% end %>
    </td><tr>
    </table>
    <% else %>
    <p class="plaintext"> We <span class="big"> did not find </span> a car with # <span class="big"><%=@user_car['plate']%></span> in any of the Chicago lots! </p>
    <p class="plaintext">Hope you find your car, dude! </p>
    <% end %>
  </div>
  </div>
