y so<div id="register-login">
<table>
<tr><td>
<div class="register-login" id="login">
<h3 class="login-header"> ↪ login: </h3>
<div align="center" class="inputform">
  <form class="#" action="/session/login" method="post">
    <input class="loginbox" type="text" name="username" placeholder="username"></input>
    <input class="loginbox" type="password" name="password" placeholder="password"></input>
    <input class="submit-button" type="submit" value="☞ SIGN IN!"></input>
  </form>
</div>
</div>
</td>
<td>
<div class="register-login" id="register">
<h3 class="login-header">✎ register:</h3>
  <div align ="center" class="inputform">
<<<<<<< HEAD
    <form class="#" action="/session/register" method="post">
      <input class="loginbox" type="text" name="username" placeholder="username"></input>
      <input class="loginbox" type="email" name="email" placeholder="email"></input>
      <input class="loginbox" type="password" name="password" placeholder="password"></input>
      <input class="loginbox" type="password" name="password" placeholder="password x2"></input>
=======
    <form class="#" action="index.html" method="post">
      <table>
      <tr><td>
      <input class="registerbox" type="text" name="username" placeholder="username"></input>
      <input class="registerbox" type="email" name="email" placeholder="email"></input>
    </td><td>
      <input class="registerbox" type="password" name="password" placeholder="password"></input>
      <input class="registerbox" type="password" name="password" placeholder="password x2"></input>
    </td><tr>
    </table>
>>>>>>> 7c677c7ee3b848b67a9de815098815a26c8e4dd8
      <input class="submit-button" type="submit" value="☞ SIGN UP!"></input>
    </form>
  </div>
</div>
</td>
</tr>
</table>
</div>
