<table>
<tr><td>
<div class="register-login">
<h3 class="other-views-header"> ↪ login: </h3>
<div align="center" class="inputform">
  <form class="#" action="index.html" method="post">
    <input class="loginbox" type="text" name="username" placeholder="username"></input>
    <input class="loginbox" type="password" name="password" placeholder="password"></input>
  </form>
</div>
</div>
</td>
<td>
<div class="register-login">
<h3 class="other-views-header">✎ register:</h3>
  <div align ="center" class="inputform">
    <form class="#" action="index.html" method="post">
      <input class="loginbox" type="text" name="username" placeholder="username"></input>
      <input class="loginbox" type="email" name="email" placeholder="email"></input>
      <input class="loginbox" type="password" name="password" placeholder="password"></input>
      <input class="loginbox" type="password" name="password" placeholder="password x2"></input>
    </form>
  </div>
</div>
</td>
</tr>
</table>
