<!-- <div id="results"> -->
<!-- <%if @type_of_search="plate"%> -->

<div class="resultsholder" id="primary_results">
  <h3 class="other-views-header"> exact liscence plate match: </h3>
  <div align = "center">
  <p class="primary-results-message"> Oh hey we found your car!</p>
    <p>oh noes we don't know where your car is!</p>
  </div>
</div>
<div class="resultsholder"  id="secondary_results">
  <h3 class="other-views-header"> full search results: </h3>
</div>
<!-- <%elsif @type_of_search="car"%> -->

<!-- <% end %> -->
<!-- </div> -->
